.bg-nav {
  background-color : #553e8e !important;
  height: 60px;
  box-shadow: 1px 1px 1px grey;
}

.bg-nav .navbar-brand{
  color: white;

}

.card{
  height: 400px;
}

.footer{
  color: white;
  background: #000000cf;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.btn-primary {
  color: #fff !important;
  background-color: #553e8e !important;
  border-color: #553e8e !important;
}

.btn-outline-success {
  color: #ffffff !important;
  background-color: transparent !important;
  background-image: none !important;
  border-color: #eac11b !important;
}

.btn-outline-success:hover {
  color: #ffffff !important;
  background-color:  #eac11b !important;
  background-image: none !important;
  border-color: #eac11b !important;
}


.list-group-item.active {
  z-index: 2  !important;
  color: #fff !important;
  background-color: #553e8e !important;
  border-color: #553e8e !important;
}


.alert-success{
      color: black !important; 
    background-color: #fafb9561 !important;
    border-color: #dbe6c3 !important;
}